.section{
    text-align: center;
}
.section h3{
    background-color: #3d3c3c;
    padding: 18px 16px;
    width: 200px;
    margin: 24px auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 34px;
}
.numero{
    

}
.numero .p{
    font-weight: bold;
    margin: 8px 0;
    font-size: 20px;
}
.id{
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
}
.tipo{
    font-weight: bold;
    font-size: 20px;
    margin: 12px 0;
}
.divh6{
    display: flex;
    justify-content: center;
    column-gap: 12px;
}
.divh6 p{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3d3c3c;
    
}
.divh6 p:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: default;
}
.normal {
    background-color: #aa9;
  }
  
.fire{
    background-color: #f42;
  }
  
.water{
    background-color: #39f;
  }
  
.electric{
    background-color: #fc3;
  }
  
.grass{
    background-color: #7c5;
  }
  
.ice{
    background-color: #6cf;
  }
  
.fighting{
    background-color: #b54;
  }
  
.poison{
    background-color: #a59;
  }
  
.ground{
    background-color: #db5;
  }
  
.flying{
    background-color: #89f;
  }
  
.psychic{
    background-color: #f59;
  }
  
.bug{
    background-color: #ab2;
  }
  
.rock{
    background-color: #ba6;
  }
  
.ghost{
    background-color: #66b;
  }
  
.dragon{
    background-color: #76e;
  }
  
.dark{
    background-color: #754;
  }
  
.steel{
    background-color: #aab;
  }
  
.fairy{
    background-color: #e9e;
  }

.linha{
  border-right: 1px solid;
}
.peso_altura div{
  width: 80px;
}
.peso_altura{
    display: flex;
    justify-content: center;
    margin: 16px 0;
    text-align: center;
}
.peso_altura p{
  margin-bottom: 4px;
  font-weight: bold;
}
.peso_altura p span{
    display: block;
    text-align: center;
}